{{ define "top-bar-right" }}
{{ partial "share.html" $ }}
{{ end }}
{{ define "title-bar-right" }}
{{ partial "share.html" $ }}
{{ end }}
{{ define "whatisthis" }}
{{ partial "whatisthis-short.html" . }}
{{ end }}
{{ define "main" }}
<div class="row">
  <div class="column small-12 medium-10 medium-offset-1 end large-8 large-offset-0">
    <h3>{{ .Title }}</h3>
    {{ .Content }}
    <hr>
    {{ if .PrevInSection }}
      <a href="{{.PrevInSection.Permalink}}"> &laquo; &nbsp;
        {{- .PrevInSection.Title -}}
      </a>
     {{ if .NextInSection }} | {{ end }}
   {{ end }}
   {{ if .NextInSection }}
     <a href="{{.NextInSection.Permalink}}">
     {{- .NextInSection.Title -}}&nbsp;&raquo;</a>
   {{ end }}
  </div>
</div>
{{ end }}
