image: jojomi/hugo

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  
pages:
  script:
  - rm -rf public
  - hugo --ignoreCache
  artifacts:
    paths:
    - public
  only:
  - jonathan.pages.jgilligan.org 
