<footer class="whatisthis">
  <hr />
  <div class="wrapper" style="font-size:0.9em; line-height:1.05em;">
  <div class="row">
    <div class="column small-12 medium-5">
      <h3>About</h3>
        <span>
        <figure class="image-left" style="margin:0 0.5em 0.2em 0">
  	     <img class="avatar" src="/img/
         {{- if $.Site.Params.avatar -}}
           {{ $.Site.Params.avatar -}}
         {{- else -}}
           avatar.jpg
         {{- end -}}" alt="Portrait of the author"/>
        </figure>
        </span>
        <span>
        {{ template "site_templates/about_me.html" }}
        </span>
    </div>
    <div class="column small-12 medium-4">
      <h3 id="contact">Contact</h3>
      <ul class="fa-ul">
  <li><i class="fa-li fa fa-university" style="padding-top:3px;"></i>
  {{ range $.Site.Params.address }}
    {{ . | safeHTML }}
  {{ end }}
  </li>
	{{ range sort $.Site.Params.social "priority" }}
	<li>
  {{- if .icon -}}
  <i class="{{- .icon_pack -}}-li {{ .icon_pack }} {{ .icon_pack }}-{{ .icon -}}" style="padding-top:3px;"></i>
  {{- end -}}
  {{- if .site -}}{{.site}} {{ end -}}
  {{- if .link -}}
  <a href="{{ .link }}">{{ .text }}</a>
  {{- else -}}
  {{- .text -}}
  {{- end -}}
  {{ if .on_site }} on {{ .on_site }}{{ end }}
  </li>
	{{ end }}
      </ul>
    </div>
    <div class="column small-12 medium-3">
      <h3>Subscribe</h3>
      <p>To receive updates, you can subscribe to
	the <a href="/index.xml"><i class="fa fa-rss-square"></i>&nbsp;RSS feed</a> of all
	updates to the site in an RSS feed reader.
      </p>
      <h3>Search</h3>
      <a id="searchsite">
	<form method="get" action="https://duckduckgo.com/">
	  <label for="search-field" class="show-for-sr">Search with DuckDuckGo</label>
	  <input type="search" name="q" maxlength="255" placeholder="Search with DuckDuckGo" id="search-field">
	  <input type="hidden" name="sites" value="{{ .Site.BaseURL }}"/>
	  <input type="hidden" name="k7" value="#faf8f8"/>
	  <input type="hidden" name="kj" value="#b33"/>
	  <input type="hidden" name="ky" value="#fafafa"/>
	  <input type="hidden" name="kx" value="b"/>
	  <input type="hidden" name="ko" value="-1"/>
	  <input type="hidden" name="k1" value="-1"/>
	  <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" />
	</form>
      </a>
    </div>
  </div>
  </div>
</footer>
