<p>
Much of my research has centered on understanding environmental stress in
coupled human-natural systems.
I work in interdisciplinary teams of social &amp; behavioral scientists,
natural scientists, and engineers, and my focus is often on using statistical
tools and computational modeling to integrate the societal, natural, and
constructed aspects.
</p>
<p>
My research spans a broad range of topics, including the role of the private
sector in reducing greenhouse gas emissions and investigating ways in which
policies to reduce greenhouse gas emissions or adapt to a changing climate may
either alleviate or exacerbate socio-economic inequalities.
Much of my research focuses on the United States, but I have also been working
for over a decade on studying the impacts of climate change on rural farming
communities in Bangladesh and other parts of South Asia.
</p>
<p>
Some of the tools I use heavily in this work is Bayesian statistical analysis
and agent-based modeling.
</p>
