{{ partial "header.html" . }}
<body lang="en" itemscope itemtype="https://schema.org/Article">
  <div id="topbar">
    <div class="wrapper">
      <header>

        {{ partial "sidebar.html" . }}

        {{ $baseurl := .Site.BaseURL }}
      </header>
    </div>
  </div>
<div class="wrapper">

<div class="units-row">

<div class="unit-50">
<h2>404: Page Not Found</h2>
<p class="big">
	There is no page here at the address you requested. Perhaps try a search to find what you are looking for?
</p>
					<form method="get" action="https://duckduckgo.com/">
				<input type="search" name="q" maxlength="255" placeholder="Search jonathangilligan.org">
			<input type="hidden" name="sites" value="jonathangilligan.org"/>
			   <input type="hidden" name="ka" value="Alegreya"/>
			   <input type="hidden" name="k7" value="#faf8f8"/>
			   <input type="hidden" name="kj" value="#b33"/>
			   <input type="hidden" name="ky" value="#fafafa"/>
			   <input type="hidden" name="kx" value="b"/>
			   <input type="hidden" name="ko" value="-1"/>
			   <input type="hidden" name="k1" value="-1"/>
			   <input type="hidden" name="kt" value="Alegreya Sans"/>
			   <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" /></form>
</div>

<div class="unit-50">
<h3>Recent Papers</h3>
<ul class="compact fa-ul">
	{{ range first 3 (where .Data.Pages.ByDate "Section" "publications").Reverse }}
		<li><i class="fa-li fa  {{ if eq .Params.pub_status "unpublished" }}fa-file-o {{ else if eq .Params.pub_type "book" }}fa-book {{ else if eq .Params.pub_type "patent" }}fa-flask {{ else }}fa-file {{ end }} fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i>
			{{ partial "publication_withyear" . }}
			<a href="{{ .Permalink }}" class="badge badge-small">Abstract</a>
			{{ if isset .Params "file" }}
				{{- range where .Params.file "desc" "full text" -}}
				<a href="{{.Site.BaseURL}}files/pubs/pdfs/{{ index .file }}" class="badge badge-small"><i class="fa fa-file-pdf-o"></i>&nbsp;pdf</a>
				{{- end -}}
			{{- end -}}
		</li>
	{{ end }}
</ul>

<footer class="group">
	<nav class="navbar navbar-right"><a href="/publications">&rarr; More Papers</a></nav>
</footer>

<h3>Current Teaching</h3>
<ul class="compact fa-ul">
	{{ range (where .Data.Pages.ByDate "Section" "teaching").Reverse }}
{{ if (ge .Date.Unix now.Unix) }}
{{ if (le .Date.Unix (add now.Unix 7776000)) }}
	<li><i class="fa-li fa fa-mortar-board fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i><a href="{{ .Permalink }}"><span class="caps">{{ .Title }}</span></a>, {{ .Date.Format "January" }}&ndash;{{ .Params.enddate | dateFormat "January 2006" }}.
	{{ partial "comingsoon.html" . }}
	</li>
{{ end }}
{{ end }}
{{ end }}

	{{ range (where .Data.Pages.ByDate "Section" "teaching").Reverse }}
{{ if (le .Date.Unix now.Unix) }}
{{ if (le now.Unix (time .Params.enddate).Unix ) }}
	<li><i class="fa-li fa fa-mortar-board fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i><a href="{{ .Permalink }}"><span class="caps">{{ .Title }}</span></a>, {{ .Date.Format "January" }}&ndash;{{ .Params.enddate | dateFormat "January 2006" }}.
	{{ partial "nowon.html" . }}
	</li>
{{ end }}
{{ end }}
{{ end }}
	{{ range (where .Data.Pages.ByDate "Section" "teaching").Reverse }}
{{ $classend := (time .Params.enddate).Unix }}
{{ if (ge now.Unix $classend ) }}
{{ if (le now.Unix (add $classend 10368000)) }}

	<li><i class="fa-li fa fa-mortar-board fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i><a href="{{ .Permalink }}"><span class="caps">{{ .Title }}</span></a>, {{ .Date.Format "January" }}&ndash;{{ .Params.enddate | dateFormat "January 2006" }}.
	<span class="badge badge-small">completed</span>
	</li>
{{ end }}
{{ end }}
{{ end }}
</ul>


<footer class="group">
	<nav class="navbar navbar-right"><br /><a href="teaching">&rarr; Other Classes</a></nav>
</footer>
</div>
</div>

</div><!-- /end .wrapper -->


<hr class="separator">

{{ partial "whatisthis.html" . }}

{{ partial "foot.html" . }}
</body>
</html>
