        <link rel="stylesheet" href="/css/kube.min.css" />
        <link rel="stylesheet" href="/css/demo.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
        <link rel="stylesheet" href="/css/bigfoot-default.css" />
      	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/academicons.min.css" />

        {{ partial "javascripts.html" . }}
        {{ partial "typekit.html" . }}
