
{{- if eq .Params.pub_type "article-journal" }}{{ partial "pub_fmt/with_year/article" . -}}
{{- else if eq .Params.pub_type "book" }}{{ partial "pub_fmt/with_year/book" . -}}
{{- else if eq .Params.pub_type "chapter" }}{{ partial "pub_fmt/with_year/chapter" . -}}
{{- else if eq .Params.pub_type "paper-conference" }}{{ partial "pub_fmt/with_year/inproceedings" . -}}
{{- else if eq .Params.pub_type "patent" }}{{ partial "pub_fmt/with_year/patent" . -}}
{{- else if eq .Params.pub_type "report" }}{{ partial "pub_fmt/with_year/report" . -}}
{{- end -}}
