<div class="wrapper" style="font-size: 0.9em; line-height: 1.05em;">
  <div class="units-row units-padding">		
    <div class="unit-40"><!--about-->
      <h3>about</h3>
      <figure class="image-left">
        <img class="avatar" src="files/misc/jmg.jpg" height="120" width="120">
      </figure>	
      <p>I am Associate Professor of <a href="https://www.vanderbilt.edu/ees/">Earth &amp; Environmental Science</a>
         and <a href="https://engineering.vanderbilt.edu/cee/">Civil &amp; Environmental Engineering</a> at <a href="https://www.vanderbilt.edu">Vanderbilt University</a>. 
        I&#8217;m affiliated with the <a href="https://www.vanderbilt.edu/viee/">Vanderbilt Institute for Energy &amp; Environment</a>,
        the <a href="https://law.vanderbilt.edu/academics/academic-programs/environmental-law/climate-change-network/">Vanderbilt Climate Change Research Network</a>,
        the <a href="https://wp0.vanderbilt.edu/visor/">Vanderbilt Initiative for Smart Cities Operations and Research</a>,
        and the <a href="https://erdosinstitute.org">Erdo&#779;s Institute for Collaboration, Innovation, and Entrepreneurship</a>.
    </div><!--end about-->
    <div class="unit-30"><!--contact--> 
      <h3>Where</h3>
      <ul class="compact fa-ul">
        <li><i class="fa-li fa fa-university fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i>Department of Earth &amp; Environmental Sciences, Vanderbilt University,<br/>2301 Vanderbilt PL PMB 351805,<br/> Nashville, TN 37235-1805.</li>
        <li><i class="fa-li fa fa-envelope fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i><a href="mailto:jonathan.gilligan@vanderbilt.edu">jonathan.gilligan@vanderbilt.edu</a></li>
        <li><i class="fa-li fa fa-twitter-square fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i><a href="https://twitter.com/jg_environ">@jg_environ</a> on Twitter.</li>
        <li><i class="fa-li fa fa-github fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i><a href="https://github.com/jonathan-g">jonathan-g</a> on GitHub.</li>
        <li><i class=""></li>
      </ul>
    </div><!--end contact-->
<div class="unit-30"><!--Subscribe-->
				<h3>subscribe</h3>
				<p>To receive updates from this site, you can
				subscribe to the <a href="/index.xml"><i class="fa fa-rss-square" style="color:#03396c;"></i>&nbsp;RSS feed</a> of all updates to the site in an RSS feed reader</p>
				<h3>search</h3>
				<a id="searchsite">
					<form method="get" action="https://duckduckgo.com/">
				<input type="search" name="q" maxlength="255" placeholder="Search the site">
			<input type="hidden" name="sites" value="jonathangilligan.org"/>
			   <input type="hidden" name="k7" value="#faf8f8"/>
			   <input type="hidden" name="kj" value="#b33"/>
			   <input type="hidden" name="ky" value="#fafafa"/>
			   <input type="hidden" name="kx" value="b"/>
			   <input type="hidden" name="ko" value="-1"/>
			   <input type="hidden" name="k1" value="-1"/>
			   <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" /></form></a>
			</div>
		</div>
	</div>
</div>
