iframe.video {
    width: 95% !important;
}

dt { 
    margin-top: 1em;
    display: block;
    width: 100%;
}

dt:after {
    content: "";
}

dd {
    margin-left: 0;
}

code {
    font-size: 75%;
}

.sharebutton {
    display: none;
    visibility: hidden;
}

.subtitle,
div.footer, #toccontainer {
    display: none;
}

.category_control {
    margin-top: -1.5em;
}

div.document {
    width: 100%;
    margin: 0 auto 0 auto;
}

div.body h1 { margin-top: 0; padding-top: 0.5em; font-size: 160%; }
div.body h2 { font-size: 140%; }
div.body h3 { font-size: 130%; }
div.body h4 { font-size: 110%; }
div.body h5 { font-size: 100%; }
div.body h6 { font-size: 100%; }

#nav {
    position: absolute;
    top: 0.5em;
    right: 1em;
    z-index: 2;
    display: inline;
    font-size: 26px;
}

div.sidebar { 
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    line-height: 1em;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 15px;
    transition: 0.5s; 
    font-size: 100%;
}

div.sidebar ul {
    padding-top: 1.5em;
}

div.sidebar li {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

div.sidebar a {
    color: #fff;
}

div.bodywrapper {
    margin: 0;
    padding-bottom: 2em;
}

.sublink {
    color: #fff;
}

.logo {
    padding-top: 1.5em;
}

.gitter-open-chat-button {
    width: 95%;
    padding: 0.5em;
    opacity: 0.8;
}


thead {
	display: none;
}
tr,
th,
td {
	display: block;
}
td {
	border-top: none;
}
tr td:first-child {
	border-top: 1px solid #ddd;
	font-weight: bold;
}