div.sidebar, div.clear,
div.sidebarwrapper,
span.teletype-cursor,
div.footer, #toccontainer,
.category_control, .video, .sitepagination, .wizard,
.gitter-chat-embed, .gitter-open-chat-button {
    display: none;
    visibility: hidden;
    width: 0 !important;
    height: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
}

div.document {
    width: 100%;
    margin: 0 auto 0 auto;
}

div.bodywrapper {
    margin: 0;
}

.teletype {
    overflow-x: hidden;
    overflow-y: visible;
    height: auto !important;
    width: 96% !important;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.teletype-result {
    font-style: italic;
}

.videoprintlink {
    display: block;
    border: 1px solid #B1B4B6;
    text-align: center;
}

.tooltipcontent {
    display: block;
    overflow: hidden;
}

code, pre {
    width: 95%;
    font-size: 10pt;
    white-space: pre-wrap !important;
}
