{{ define "top-bar-right" }}
{{ partial "share.html" $ }}
{{ end }}
{{ define "title-bar-right" }}
{{ partial "share.html" $ }}
{{ end }}
{{ define "whatisthis" }}
{{ partial "whatisthis-short.html" . }}
{{ end }}
{{ define "main" }}
<div class="row">
  <div class="column small-12 medium-10 medium-offset-1 end large-8 large-offset-0">
    <article class="pub" itemscope itemtype="http://schema.org/CreativeWork">
    <span style="font-size:120%;">
    {{ partial "publication" (dict "dot" . "author_initials" 0 "editor_initials" 0 "bib_with_year" 1 "pub_loc" 0 "isbn" 1 "doi" 1 "pdf" 1 "in_press" 1) }}
    </span>
    <h4 style="padding-top:5px;"><b>Abstract:</b></h4>
    {{ .Content }}
    <hr>
    {{ if .PrevInSection }}
    <a href="{{.PrevInSection.Permalink}}"> &laquo; &nbsp;
    {{- if isset .PrevInSection.Params "short_title" -}}
      {{- .PrevInSection.Params.short_title -}}
    {{- else -}}
      {{- .PrevInSection.Title -}}
    {{- end -}}</a>
     {{ if .NextInSection }} | {{ end }}
    {{ end }}
    {{ if .NextInSection }}
    <a href="{{.NextInSection.Permalink}}">
    {{- if isset .NextInSection.Params "short_title" -}}
      {{- .NextInSection.Params.short_title -}}
    {{- else -}}
      {{- .NextInSection.Title -}}
    {{- end -}}&nbsp;&raquo;</a>
    {{ end }}
  </div>
</div>
{{ end }}
