{{ partial "header.html" . }}
<body lang="en" itemscope itemtype="https://schema.org/Article">
  <div id="topbar">
    <div class="wrapper">
      <header>

        {{ partial "sidebar.html" . }}

        {{ $baseurl := .Site.BaseURL }}
      </header>
    </div>
  </div>

  <div class="wrapper">
    <div class="units-row">
      <div class="unit-100">
        <p>Much of my research has centered on understanding environmental stress in coupled human-natural systems.
        I work in interdisciplinary teams of social &amp; behavioral scientists, natural scientists, and engineers, and my focus is often on using statistical tools and
        computational modeling to integrate the societal, natural, and constructed aspects.
        My work is divided between studying policy responses to climate change and water scarcity in the United States and studying impacts and adaptations to environmental
        stress in rural farming communities in Bangladesh and Sri Lanka.
        Some of the tools I use heavily in this work is Bayesian statistical analysis and agent-based modeling.</p>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="units-row">
      <div class="unit-50">
        <h2>Research</h2>
        <ul>
          {{ range where .Data.Pages.ByWeight "Params.weight" ">" 0 }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>

<hr class="separator">

{{ partial "whatisthis.html" . }}

{{ partial "foot.html" . }}
</body>
</html>
