{{- $ := .dot -}}
{{ partial "pub_fmt/article_title" . -}}
{{ partial "pub_fmt/authors" . | chomp }},
in
{{ if isset $.Params "editor" -}}
  {{ partial "pub_fmt/editors" . -}},
{{ end -}}
{{ partial "pub_fmt/container_title" . | chomp -}}
{{- if (isset $.Params "page") | and (not (eq $.Params.page "")) -}}
      ,  {{ $.Params.page -}}
{{- end }}
{{ partial "pub_fmt/publisher" . -}}
{{- if gt .doi 0 -}}
{{- partial "pub_fmt/doi" . -}}
{{- end -}}.
{{- if gt .pdf 0 }}
{{ partial "pub_fmt/pdf" . -}}
{{- end }}
