{{- $docuurl := .Get 1 -}}
{{- $docuextension := .Get 2 -}}
{{- $header := default "2" (index .Params 3) -}}
{{- $.Scratch.Set "group" "" -}}
{{- $.Scratch.Set "first" "" -}}
{{- range $n, $value := sort (getJSON (.Get 0)) "sort" -}}
    {{- if ne ($.Scratch.Get "group") $value.group -}}
        {{- if $.Scratch.Get "first" -}}</dl>{{- end -}}
        <h{{- $header }} id="{{- $value.group -}}">{{- $value.group -}}</h{{- $header -}}><dl>
    {{- end -}}
    {{- $.Scratch.Set "group" $value.group -}}
    {{- $.Scratch.Set "first" "true" -}}
    <dt id="{{- $value.name | chomp | safeURL -}}"><a href="#{{- $value.name | chomp | safeURL -}}">{{- $value.name | chomp }}</a></dt>
    <dd class="tooltiptoggle">{{ $value.briefdescription | chomp -}}
        <dl class="tooltipcontent">
            {{- if $value.detaildescription -}}<dt>Description</dt><dd>{{- $value.detaildescription | chomp -}}</dd>{{- end -}}
            {{- if $value.note -}}<dt>Note</dt>{{- range $value.note -}}<dd>{{- . -}}</dd>{{- end -}}{{- end -}}
            {{- if $value.warning -}}<dt>Warning</dt>{{- range $value.warning -}}<dd>{{- . -}}</dd>{{- end -}}{{- end -}}
            <dt>See</dt>
            {{- range $value.see -}}<dd><a href="{{- . -}}" />{{- . -}}</a></dd>{{- end -}}
            <dd><a href="{{- $docuurl -}}{{- $value.id -}}{{- $docuextension -}}">Source Code</dd>
        </dl>
    </dd>
{{- end -}}
