<p>I&nbsp;am&nbsp;
Professor of <a href="https://www.vanderbilt.edu/ees/" target="_blank">Earth &amp; Environmental Science</a>,
<a href="https://engineering.vanderbilt.edu/cee/" target="_blank">Civil &amp; Environmental Engineering</a>,
and
<a href="https://as.vanderbilt.edu/climate-environmental/" target="_blank">Climate &amp; Environmental Studies</a>
<!--
-->
at <a href="https://www.vanderbilt.edu">Vanderbilt University</a>.
Views and opinions expressed here are mine alone, and do not represent
Vanderbilt University.
</p>
