<p>I&nbsp;am&nbsp;the
<a href="https://www.vanderbilt.edu/faculty-affairs/faculty-development/faculty-awards/vu-internal-awards/alexander-heard-distinguished-professor-award/">Alexander Heard Distinguished Service Professor</a>,
<!-- -->
Associate Professor of <a href="https://www.vanderbilt.edu/ees/" target="_blank">Earth &amp; Environmental Science</a>
and <a href="https://engineering.vanderbilt.edu/cee/" target="_blank">Civil &amp; Environmental Engineering</a>
<!--
-->
at <a href="https://www.vanderbilt.edu">Vanderbilt University</a>,
and director of Vanderbilt's interdisciplinary Grand Challenge Initiative on
Climate and Society.
</p>
