<!doctype html>
<html lang="{{- .Site.Language -}}">

<head>
	{{ with .Site.Params.bingverify -}}<meta name="msvalidate.01" content="{{- . -}}" />{{- end }}
	{{ with .Site.Params.googleverify -}}<meta name="google-site-verification" content="{{- . -}}" />{{- end }}
	{{ with .Site.Params.metadescription -}}<meta name="description" content="{{- . -}}">{{- end }}
	{{ with .Site.Params.keywords -}}<meta name="keywords" content="{{- . -}}">{{- end }}

	<meta  charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=0.95, maximum-scale=0.95" />

	{{ template "_internal/google_analytics.html" . }}

	<script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript" crossorigin="anonymous" async></script>
	<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax:{inlineMath:[["$","$"]],displayMath:[["$$","$$"]],processEscapes:!0,processEnvironments:!1,skipTags:["script","noscript","style","textarea","pre","code"],TeX:{equationNumbers:{autoNumber:"AMS"},extensions:["autoload-all.js"]}}})</script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js" crossorigin="anonymous" async></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" crossorigin="anonymous" async></script>

	<script src="//code.jquery.com/jquery-3.1.1.min.js" type="text/javascript" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js" crossorigin="anonymous" async></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" crossorigin="anonymous" async></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js" crossorigin="anonymous" async></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox.min.js" crossorigin="anonymous" async></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js" crossorigin="anonymous"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/toolbar/prism-toolbar.min.js" crossorigin="anonymous"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js" crossorigin="anonymous" async></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/show-language/prism-show-language.min.js" crossorigin="anonymous" async></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/command-line/prism-command-line.min.js" crossorigin="anonymous" async></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/line-highlight/prism-line-highlight.min.js" crossorigin="anonymous" async></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/line-numbers/prism-line-numbers.min.js" crossorigin="anonymous" async></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-java.min.js" crossorigin="anonymous" async></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-prolog.min.js" crossorigin="anonymous" async></script>

	<script src="{{- .Site.BaseURL -}}js/jquery.hammer.js" type="text/javascript" defer></script>
	<script src="{{- .Site.BaseURL -}}js/prism-agentspeak.js" type="text/javascript" async></script>
	<script src="{{- .Site.BaseURL -}}js/toc.min.js" type="text/javascript" async></script>
	<script src="{{- .Site.BaseURL -}}js/teletype.js" type="text/javascript" async></script>
	<script src="{{- .Site.BaseURL -}}js/script.js" type="text/javascript" defer></script>


	<link href="//fonts.googleapis.com/css?family=Pridi:200,300,400,500,600,700" type="text/css" rel="stylesheet" media="all" />

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous" media="screen">	
	<link href="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.min.css" type="text/css" rel="stylesheet" media="screen" />
	<link href="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism-coy.min.css" type="text/css" rel="stylesheet" media="all" />
	<link href="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/toolbar/prism-toolbar.min.css" type="text/css" rel="stylesheet" media="all" />
	<link href="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/command-line/prism-command-line.min.css" type="text/css" rel="stylesheet" media="all" />
	<link href="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/line-highlight/prism-line-highlight.min.css" type="text/css" rel="stylesheet" media="screen" />
	<link href="//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/line-numbers/prism-line-numbers.min.css" type="text/css" rel="stylesheet" media="all" />
		
	<link href="{{- .Site.BaseURL -}}css/layout.css" type="text/css" rel="stylesheet" media="all" />
	<link href="{{- .Site.BaseURL -}}css/print.css" type="text/css" rel="stylesheet" media="print" />
	<link href="{{- .Site.BaseURL -}}css/mobile.css" type="text/css" rel="stylesheet" media="screen and (max-width: 1000px)" />
	<link href="{{- .Site.BaseURL -}}css/jquery.steps.css" type="text/css" rel="stylesheet" media="screen" />

	<link href="{{- .Site.BaseURL -}}{{- .Site.Params.icon.icon -}}" type="{{- .Site.Params.icon.type -}}" rel="shortcut icon" />
	<link href="{{- .Site.BaseURL -}}news/index.xml" type="application/rss+xml" rel="alternate" title="{{- .Site.Title -}}" />
	<title>{{- .Site.Title }} {{ if not .IsHome -}}&mdash; {{ .Title -}}{{- end -}}</title>

	{{- partial "microdata" . -}}
</head>

<body {{ if .IsHome -}}{{- range first 1 (where .Site.Pages "Type" "homepage") -}}{{- if .Params.previous -}}data-previouspage="{{- .Params.previous.url -}}"{{- end }} {{ if .Params.next -}}data-nextpage="{{- .Params.next.url -}}"{{- end -}}{{- end -}}{{- else -}}{{- if .Params.previous -}}data-previouspage="{{- .Params.previous.url -}}"{{- end }} {{ if .Params.next -}}data-nextpage="{{- .Params.next.url -}}"{{- end -}}{{- end -}}>
