<div class="sidebar" role="navigation" aria-label="main navigation">
	<div class="sidebarwrapper">
		<div class="logo">
			<a href="{{ .Site.BaseURL }}">{{- .Site.Title -}}</a>
			{{- with .Site.Params.description -}}<div class="subtitle">{{- . | markdownify -}}</div>{{- end -}}
		</div>
		
		{{- if and (ne .Site.Params.menu nil) (gt (len .Site.Params.menu) 0) -}}
		<ul>
			{{- range sort .Site.Params.menu "weight" }}
			<li>
				<a class="reference internal" href="{{ .url }}">{{- .name -}}</a>
				{{- with .sublink }}
				<span class="sublink">(<a href="{{- .url -}}">{{- .name -}}</a>)</span>
				{{- end -}}
			</li>
			{{- end -}}
		</ul>
		{{- end -}}

		{{- if and (ne .Site.Params.socialmedia nil) (gt (len .Site.Params.socialmedia) 0) -}}
		<ul class="horizontal socialmedia">
		{{- range sort .Site.Params.socialmedia "weight" }}
            <li><a href="{{- .url -}}"><img src="/images/{{- .name -}}.svg" alt="{{- .name -}}" class="socialmediaimg"/></a></li>
        {{- end -}}
		</ul>
		{{- end -}}

		{{- partial "gitter" . -}}
		<div class="sharebutton">
			Share on
			<ul class="horizontal socialmediaaction">
				<li>{{- partial "facebook" . -}}</li>
				<li>{{- partial "googleplus" . -}}</li>
				<li>{{- partial "tweet" . -}}</li>
			</ul>
		</div>
	</div>
</div>
