{{- if in .Params.view "publication" -}}
        {{ $baseurl := .Site.BaseURL }} 
        <ul>
        {{ range $publication := sort .Site.Data.references ".title" "desc" }} 

            <li class="spread">
                <a name="{{- $publication.id | plainify | urlize -}}"></a>

                {{- if isset $publication "URL" | and $publication.URL -}}
                    <a href="{{ $publication.URL }}">{{- $publication.title -}}</a>
                {{- else -}}
                    <a href="#">{{- $publication.title -}}</a>
                {{- end }}
            
                <br/>
                {{ delimit (apply (apply  $publication.author "partial" "author" ".") "chomp" ".") ", " }}

                <br/>
                {{- if isset $publication "collection-title" | and (index $publication "collection-title") }}  
                    {{ index $publication "collection-title" }}
                {{- else -}}
                    {{- if isset $publication "collection-title" | and (index $publication "collection-title") }}
                    -
                    {{ end }}
                    {{ if isset $publication "container-title" | and (index $publication "container-title") }}
                        {{ index $publication "container-title" }}
                    {{- end -}}
                {{ end -}}
                
                {{- if (isset $publication "page") | and (not (eq $publication.page "")) }}    
                    {{- $page :=  replaceRE "[^0-9-.]" "$1" $publication.page | chomp -}}
                    {{ if $page }}
                        page {{ $page -}}
                    {{ end }}
                {{ end -}}

                {{- if (isset $publication "number") | and $publication.number }}    
                    {{ $publication.number -}}, 
                {{ end -}}

                {{ $publication.publisher }} 
                {{ if isset $publication "publisher-place" | and (index $publication "publisher-place") }}
                    ({{- index $publication "publisher-place" -}})
                {{ end }}

                {{- if (isset $publication "note") | and (not (eq $publication.note "")) }}
                    <a href="{{ $baseurl }}publication/{{ $publication.note | urlize }}">[...]</a>
                {{ end -}}
            </li>
        {{ end }}
        </ul>
{{ end }}        
